.footer1 {
  background-color: #EEEEEE;
  color: #080808;
  padding: 2rem 0;
}
.footer1 .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer1 .container .text-center {
  margin-bottom: 2.5rem;
}
.footer1 .container .text-center p.lead {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer1 .container .text-center a.btn {
  background-color: #247cdb;
  color: #000000;
}
.footer1 .container .text-center a.btn:hover {
  background-color: #0056b3;
}
.footer1 .container h5 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}
.footer1 .container ul {
  list-style-type: none;
  padding: 0;
}
.footer1 .container ul li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.footer1 .container ul li a {
  color: #000000;
  text-decoration: none;
}
.footer1 .container ul li a:hover {
  text-decoration: underline;
}
.footer1 .container .social-links {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.footer1 .container .text-center {
  margin-top: 2rem;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .footer1 .container {
    flex-direction: column;
    align-items: center;
  }
  .footer1 .container h5 {
    display: block;
  }
  .footer1 .container ul {
    display: none;
  }
}