.infrastructure-overview {
  padding-top: 40px;
}
.infrastructure-overview h2 {
  text-align: center;
  font-size: 2.5rem;
  background: linear-gradient(135deg, #4aace6, #263338);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  margin-bottom: 20px;
}
.infrastructure-overview .card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.infrastructure-overview .info-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(30% - 20px);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.infrastructure-overview .info-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.infrastructure-overview .info-card h5 {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.infrastructure-overview .info-card p {
  font-size: 14px;
  color: #070707;
  margin-bottom: 15px;
}
.infrastructure-overview .info-card .quantity {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.1em;
  color: #030303;
}
@media (max-width: 768px) {
  .infrastructure-overview .info-card {
    width: calc(100% - 20px);
    margin: 10px 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .infrastructure-overview .info-card {
    width: calc(45% - 20px);
  }
}
@media (min-width: 1025px) {
  .infrastructure-overview .info-card {
    width: calc(30% - 20px);
  }
}